:root {
    --azul-escuro: #03045E;
    --azul-medio: #0077B6;
    --azul: #00B4D8;
    --azul-claro: #90E0EF;
    --azul-clarissimo: #CAF0F8;
    --fundo: #EDF2FB;
}

body {
    margin: 0;
}

* {
    font-family: arial;
}

.container-tela-inicial {
    height: 100vh;
}

.container-lateral {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.container-login {
    width: 50vw;
    display: flex;
    flex-direction: column;
    background: var(--fundo);
    align-items: center;
    justify-content: center;
}

.formulario-login {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    box-shadow: 2px 2px 10px black;
    border-radius: 8px;
}

.div-botao {
    display: flex;
    justify-content: center;
}

.botao-login {
    background-color: var(--azul-medio);
    border-radius: 8px;
    text-decoration: none;
    font-size: 15pt;
    color: white;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagem-tela-inicial {
    height: 60vh;
    width: 50vw;
}

.info {
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.subtitulo {
    font-size: 25pt;
    font-weight: bold;
    padding-inline: 5vw;
    color: var(--azul-medio)
}

.conteudo {
    font-size: 15pt;
    padding-inline: 5vw;
}

.titulo {
    font-size: 35pt;
    color: var(--azul-clarissimo);
    font-weight: bold;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--azul-medio);
    box-shadow: 0 2px 5px black;
    gap: 70vw;
    position: relative;
}

.principal {
    display: flex;
}

.campos {
    display: flex;
    gap: 16px;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    font-size: 15pt;
}

.inputs {
    width: 100%;
}

.inputs input {
    font-size: 15pt;
}

hr {
  border: none; 
  border-top: 2px solid lightgray; 
  margin: 0;
}