@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('../fonts/SchibstedGrotesk-Regular.ttf'),
         url('../fonts/SchibstedGrotesk-Bold.ttf'),
         url('../fonts/SchibstedGrotesk-ExtraBold.ttf'),
         url('../fonts/SchibstedGrotesk-Italic.ttf');
}

:root {
    --azul-escuro: #03045E;
    --azul-medio: #0077B6;
    --azul: #00B4D8;
    --azul-claro: #90E0EF;
    --azul-clarissimo: #CAF0F8;
    --fundo: #EDF2FB;
}

body {
    margin: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

h3 {
    font-size: 2rem;
    margin: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem;
}

a {
    cursor: pointer;
}

.principal {
    height: 100vh;
    width: 100vw;
}

.topo {
    height: 15%;
    padding-inline: 10%;
}

.conteudo {
    height: 85%;
}

.painel {
    height: 55%;
}

img {
    height: 100%;
}

.texto-inicial {
    background: var(--azul-medio);
    color: white;
    padding: 2rem;
    width: 100%;
}

.titulo-cards {
    font-size: 1.5rem;
    padding-block: 1rem;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.card {
    font-size: 1.5rem;
    display: grid;
    border: 2px solid var(--azul);
    padding: 3rem;
    text-align: center;
}

.formulario-login {
    background: white;
    height: 50%;
}

.banner {
    height: 15%;
    width: 100%;
}

.bem-vindo {
    color: var(--azul-medio);
    text-align: center;
}

.label {
    text-align: center;
    gap: 1rem;
}

.input {
    gap: 1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
}

label {
    padding: 0.5rem;
    height: 15px;
}

.inputs {
    padding-inline: 2rem;
    gap: 1rem;
}

.botao-azul {
    border-radius: 8px;
    background: var(--azul-medio);
    color: white;
    padding: 0.5rem 4rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}