@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('../fonts/SchibstedGrotesk-Regular.ttf'),
         url('../fonts/SchibstedGrotesk-Bold.ttf'),
         url('../fonts/SchibstedGrotesk-ExtraBold.ttf'),
         url('../fonts/SchibstedGrotesk-Italic.ttf');
}

:root {
    --azul-escuro: #03045E;
    --azul-medio: #0077B6;
    --azul: #00B4D8;
    --azul-claro: #90E0EF;
    --azul-clarissimo: #CAF0F8;
    --fundo: #EDF2FB;
    --vermelho: #ED4A4A;
    --vermelho-escuro: #AB4040;
    --cinza: #DEE3E9;
}

body {
    margin: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

h3 {
    font-size: 2rem;
    margin: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button,
input[type="submit"] {
    cursor: pointer;
    font-size: 1rem;
}

.principal {
    height: 100vh;
    width: 100vw;
}

.topo {
    height: 10%;
    padding-inline: 10%;
}

.conteudo {
    height: 90%;
}

.painel {
    height: 55%;
}

img {
    height: 100%;
}

hr {
    width: 99%;
}

.texto-inicial {
    background: var(--azul-medio);
    color: white;
    padding: 2rem;
    width: 100%;
}

.titulo-cards {
    font-size: 1.5rem;
    padding-block: 1rem;
    font-weight: bold;
}

.cards-landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.card-landing {
    font-size: 1.5rem;
    display: grid;
    border: 2px solid var(--azul);
    padding: 3rem;
    text-align: center;
    border-radius: 8px;
}

.formulario-login {
    background: white;
    gap: 2rem;
    padding-block: 2rem;
}

.banner {
    height: 100px;
    width: 100%;
}

.bem-vindo {
    color: var(--azul-medio);
    text-align: center;
}

.label {
    gap: 1.5rem;
}

.input {
    gap: 1.5rem;
}

input {
    padding: calc(0.5rem - 1px);
    border: 1px solid var(--cinza);
    border-radius: 4px;
}

select {
    padding: calc(0.5rem - 1px);
    border: 1px solid var(--cinza);
    border-radius: 4px;
    height: 31px;
}

label {
    padding: 0.5rem;
    height: 15px;
}

.inputs {
    padding-inline: 2rem;
    gap: 1rem;
}

.voltar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;;
}

.menu {
    width: 250px;
    height: 100%;
    background: var(--azul-medio);
}

.imagem-topo {
    margin-inline: auto;
}

.nome-usuario {
    font-weight: bold;
    font-size: 1.2rem;
}

.item {
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--azul-clarissimo);
}

.sair {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;;
}

.formulario-cadastro {
    width: 100%;
}

.formulario-cadastro hr {
    margin-bottom: 2rem;
}

.titulo {
    font-size: 2rem;
    text-align: center;
    margin-block: 1rem;
    width: 100%;
}

.lista-informacoes {
    padding-inline: 2rem;
    gap: 1rem;
}

.lista-informacoes-coluna {
    gap: 1.5rem;
}

.tabela {
    width: 100%;
}

table {
    width: 100%;
    overflow: hidden;
}

th, td {
    padding: 12px;
}

th {
    background: var(--azul-medio);
    color: white;
}

tr:nth-child(odd) {
    background: var(--azul-clarissimo);
}

tr:nth-child(even) {
    background: var(--azul-claro);
}

tr:hover {
    background: var(--cinza);
}

.ae {
    text-align: left;
}

.ac {
    text-align: center;
}

.conteudo-tabela {
    padding: 20px;
    width: 100%;
}

.filtro {
    width: 100%;
    padding-bottom: 20px;
}

.filtro input {
    width: 50%;
}

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.v-center {
    align-items: center;
}

.s-gap {
    gap: 1rem;
}

.m-gap {
    gap: 2rem;
}

.l-gap {
    gap: 3rem;
}

.bold {
    font-weight: bold;
}

.h-center {
    justify-content: center;
}

.center {
    align-items: center; 
    justify-content: center;
}

.shadow {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.botao-grande {
    border: 2px solid var(--azul);
    border-radius: 8px;
    background: white;
    color: var(--azul);
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.botao-azul {
    border: 0;
    border-radius: 8px;
    background: var(--azul-medio);
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.botao {
    border: 2px solid var(--azul);
    border-radius: 8px;
    background: white;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: black;
}

.botao-remover {
    border: 2px solid var(--vermelho);
    border-radius: 8px;
    background: white;
    color: var(--vermelho);
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.redondinho {
    border-radius: 8px;
}

.azul {
    background: var(--azul-medio);
}

.alerta {
    position: absolute;
    top: 50px;
    padding: 1rem;
}

.erro {
    background: var(--vermelho);
}

.fechar-alerta {
    cursor: pointer;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color: white;
}

.fechar-alerta:hover {
    background: var(--vermelho-escuro);
}

.escondido {
    display: none;
}

.icone:hover {
    scale: 1.5;
}

.icone {
    transition: scale 0.2s ease;
}